# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.lst
*.map
*.d

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib

# Fortran module files
*.mod

# Dirs
build/*
lib/*
debug/*
obj/*

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.out
*.app
*.3dsx
*.elf
*.smdh

# Other
3dmoo.log
*.sdf
*.opensdf
Thumbs.db
*.bz2
*.tar

*.opt
*.filters
*.sln
*.vcxproj
*.user
*.suo
examples/basic/3dslink.exe
examples/basic/build.bat
examples/basic/log.txt
UpgradeLog.htm
